<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css" media="screen" href="css/theme.css"/>
    </h:head>
    <h:body>        
        <div id="header">
            <div id="logo">
                EJB 3.1 demo.
            </div>
            <ul id="tools">
                <li>
                    <a href="#">This is a poor example</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <h1><a href="#">Chat example</a></h1>
                <h2>EJB 3.1 example</h2>
            </div>
        </div>
        
        
        <div id="main">
            
            <div class="comments">
                <h3>Messages</h3>
        
                <ui:repeat value="#{chatView.messagesList}" var="_item">
                    <div class="comment">
                        <div class="comment-metadata">
                            <span class="comment-author">by #{_item.username},</span>                                                
                        </div>
                        <div class="comment-content">
                            <div class="about">Detail: </div>
                            #{_item.message}
                        </div>
                    </div>                    
                </ui:repeat>
            </div>            
            
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="nickname"></h:outputLabel>
                    <h:inputText value="#{chatView.nickname}" size="8"/>

                    <h:outputLabel value="message" ></h:outputLabel>
                    <h:inputText value="#{chatView.message}" size="25"/>

                    <h:commandButton value="send" action="#{chatView.addMessage()}"/>
                    <h:commandButton value="refresh" type="submit"/>
                </h:panelGrid>
            </h:form>
        </div>
        
        <p id="footer">
            Developed by Timoteo Ponce, check 
            <a href="http://timoponce.blogspot.com">his blog</a>
            for more.
        </p>
        
    </h:body>
</html>

