<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Image cropping</title>
    </h:head>
    <h:body>

        <f:metadata>
            <f:viewParam name="image" value="#{imageCropperBean.imageToCrop}" required="true"/>
        </f:metadata>

        <h:form>
            <h:panelGrid columns="2">
                <p:imageCropper value="#{imageCropperBean.croppedImage}"
                                image="/images/a.jpg"
                                initialCoords="225,75,300,125"/>

                <p:graphicImage id="localCroppedImage"
                                value="/images/#{imageCropperBean.newImageName}.jpg" />
            </h:panelGrid>

            <p:commandButton value="Crop"
                             action="#{imageCropperBean.crop}"
                             update="localCroppedImage"
                             />            
        </h:form>

    </h:body>
</html>

