<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css" media="screen" href="css/theme.css"/>
    </h:head>
    <h:body>        
        <div id="header">
            <div id="logo">
                LogComponent client.
            </div>
            <ul id="tools">
                <li>
                    <a href="#">This is a shame for all developers in the world</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <h1><a href="#">LogComponentClient example</a></h1>
                <h2>Corba example</h2>
            </div>
        </div>
        
        
        <div id="main">
            
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="remote host"></h:outputLabel>
                    <h:inputText value="#{loggerClientView.host}" size="10"/>

                    <h:outputLabel value="message" ></h:outputLabel>                    
                    <h:inputTextarea value="#{loggerClientView.message}" cols="20" rows="2"/>
                    
                    <h:outputLabel value="level" ></h:outputLabel>
                    <h:selectOneMenu value="#{loggerClientView.logLevel}">
                        <f:selectItems value="#{loggerClientView.logLevels}"/>
                    </h:selectOneMenu>

                    <h:commandButton value="log message" action="#{loggerClientView.logMessage()}"/>
                    <h:commandButton value="refresh" type="submit"/>
                </h:panelGrid>
            </h:form>
        </div>
        
        <p id="footer">
            Developed by Timoteo Ponce, check 
            <a href="http://timoponce.blogspot.com">his blog</a>
            for more.
        </p>
        
    </h:body>
</html>

