<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.prime.com.tr/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="template.xhtml">
    <ui:define name="body">
        <h:form>   
            <p:panel style="align:center">
                <p:messages/>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Username:" for="username"/>
                    <h:inputText id="username" value="#{registerBean.username}"/>
                </h:panelGrid>

                <f:facet name="footer">
                    <h:commandButton action="#{registerBean.registerUser()}" value="Register"/>
                </f:facet>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>