<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.prime.com.tr/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>WebMail</title>
        <link rel="stylesheet" type="text/css" media="screen" href="css/theme.css"/>
    </h:head>
    <h:body>
        <ui:include src="header.xhtml"/>
        
        <div id="main">
            <ui:insert name="body"/>
        </div>
        
        <ui:include src="footer.xhtml"/>
    </h:body>
</html>
