<script>
</script>
<div id="main_container">
	
    <div class="header">   
    	<div class="logo"> Curriculum Vitae </div>	
		<div class="description"> 
			<h4> <%= @params[:title_name] %> </h4> 
		</div>
    </div>
    
    <div class="book">
    	<div class="book_top">        
            <div id="demo" class="demolayout">            
			
                <div class="left_content">   
                    <ul id="demo-nav" class="demolayout">
                        <li><a class="active" href="#tab1">Information</a></li>
                        <li><a class="" href="#tab2">Education</a></li>
                        <li><a class="" href="#tab3">Experience</a></li>
                        <li><a class="" href="#tab4">Skills</a></li>
                        <li><a class="" href="#tab5">References</a></li>
                        <li><a class="" href="#tab6">Contacts</a></li>
                    </ul>                         
                    <div class="photo">
                        <img src="/images/frame.png" 
                        alt="" title="" border="0"  class="frame"/>
                        <img src="<%= @params[:pic] %>" 
                        alt="" title="" border="0" class="picture" />
                    </div>           
                </div>                
                
                <div class="tabs-container">    
                    <div style="display: block;" class="tab" id="tab1">  					
						<h2>Personal information</h2>
						<br/><br/>
						<li><h4>Full name: <%= @params[:full_name] %></h4></li>
						<li><h4>ID: <%= @params[:ci] %></h4></li>
						<li><h4>Birth place: <%= @params[:birth_place] %></h4></li>
						<li><h4>Birthdate: <%= @params[:birth_date] %></h4></li>
						<li><h4>Nationality: <%= @params[:nationality] %></h4></li>
						<li><h4>Address: <%= @params[:address] %></h4></li>
						<li><h4>Phone: <%= @params[:phone] %></h4></li>
						<li><h4>Email :
							<a href="mailto:<%= @params[:email] %>"><%= @params[:email] %></a>
							</h4>
						</li>						           
                    </div>
                    
                     <div style="display: none;" class="tab" id="tab2">
                        <h2>Education</h2> <br/><br/>
                        <li><h4>Primary school: <%= @params[:elementary_studies] %></h4></li>
                        <li><h4>High school: <%= @params[:highschool_studies] %></h4></li>
                        <li><h4>University: <%= @params[:college_studies] %></h4></li>
                        <li><h4>Postgrade: <%= @params[:postgrade_studies] %></h4></li>
                     </div>
                     
                    
                     <div style="display: none;" class="tab" id="tab3">
                        <h2>Experience</h2> <br/> <br/>
						<% @experiences.each do |experience| %>
                        	<li><h4><%= experience %></h4></li>
                        <% end %>
                     </div>
                      
                     <div style="display: none;" class="tab" id="tab4">
                        <h2>Skills</h2>  <br/> <br/>
                        <% @skills.each do |skill| %>
                        	<li><h4><%= skill %></h4></li>
                        <% end %>
                     </div>              
                     
                    
                     <div style="display: none;" class="tab" id="tab	5">
		                 <h2>References</h2>  <br/> <br/>
		                 <% @references.each do |reference| %>
		                 	<li><h4><%= reference %></h4></li>
		                 <% end %>
                     </div>      
                    
                     <div style="display: none;" class="tab" id="tab6">
                     	<h2>Contacts</h2>  <br/> <br/>
                     	<% @contacts.each do |contact| %>
		                 	<li><h4><%= contact %></h4></li>
		                <% end %>		                
                     </div>     
                </div>                                              
             </div>
            
            </div>
        
        <div class="clear"></div>
    	</div>
        <div class="book_bottom">
        	<p>
          CV | Powered by <a href="https://www.facebook.com/carla.villena1" target="_blank">Carla Villena</a>
          </p>
        </div>
    </div>
	
</div>

<script type="text/javascript">

var tabber1 = new Yetii({
id: 'demo'
});
</script>
