<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="FamousThemes" />
		<meta name="description" content="Get in the spotlight" />
		<meta name="keywords" content="premium css templates, premium wordpress themes, famous themes, themeforest" />
		<title><%= @cv_title %></title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/tabs.js"></script>
		<!-- Cufon START  -->
		<script type="text/javascript" src="js/cufon-yui.js"></script>
		<script src="js/Candy_Script_400.font.js" type="text/javascript"></script>
		<script type="text/javascript">
		Cufon.replace('.logo', { fontFamily: 'Candy Script' });
		Cufon.replace('H2', { fontFamily: 'Candy Script' });
		Cufon.replace('H3', { fontFamily: 'Candy Script' });
		</script>    
		<!-- Cufon END  -->
	
	</head>
	<body>
		<%= yield %>
	</body>
</html>
