

<!-- views/index.erb -->
<h1>Plantillas de CV - CV templates</h1>
<ul>
	<li>
		<a href="/cv_es?title_name=Timoteo+Ponce&full_name=Ponce+Ortiz+Timoteo&ci=5054555&birth_place=Yacuiba&birth_date=10-10-1985&nationality=Boliviana&address=Equipetrol&phone=71687571&email=ponce.timoteo@gmail.com&elementary_studies=Col.+Mariano Serrano&highschool_studies=German+Busch&college_studies=Gabriel+Rene+Moreno&postgrade_studies=Gabriel+Rene +Moreno&experiences=Desarrollador+Junior+-+Accarda+AG,Desarrollador Senior+-+Swissbytes,Encargado+de+Proyectos+-screenFOOD&skills=Desarrollo+de+software,Ofimatica,Automatizacion,Traduccion&references=%3Ca href=%22mailto:marius@lang.vh%22%3EMarius Lang%3C%2Fa%3E,%3Ca href=%22mailto:marius@lang.vh%22%3ERanjan Benz%3C%2Fa%3E&contacts=Hugo Ponce, Marcelo Ponce&pic=http://www.gravatar.com/avatar/7642ddf54e483e400257de248bef6636.png">
		CV - Timoteo Ponce - ES
		</a>
	</li>
	<li>
		<a href="/cv_en?title_name=Timoteo+Ponce&full_name=Ponce+Ortiz+Timoteo&ci=5054555&birth_place=Yacuiba&birth_date=10-10-1985&nationality=Boliviana&address=Equipetrol&phone=71687571&email=ponce.timoteo@gmail.com&elementary_studies=Col.+Mariano Serrano&highschool_studies=German+Busch&college_studies=Gabriel+Rene+Moreno&postgrade_studies=Gabriel+Rene +Moreno&experiences=Desarrollador+Junior+-+Accarda+AG,Desarrollador Senior+-+Swissbytes,Encargado+de+Proyectos+-screenFOOD&skills=Desarrollo+de+software,Ofimatica,Automatizacion,Traduccion&references=%3Ca href=%22mailto:marius@lang.vh%22%3EMarius Lang%3C%2Fa%3E,%3Ca href=%22mailto:marius@lang.vh%22%3ERanjan Benz%3C%2Fa%3E&contacts=Hugo Ponce, Marcelo Ponce&pic=http://www.gravatar.com/avatar/7642ddf54e483e400257de248bef6636.png">
		CV - Timoteo Ponce - EN
		</a>
	</li>

</ul>

<br/>


<h1>Generar un CV</h1>

<form method="POST">

	<div style="width: 30%; float:left">
	   <div class="hdiv">Title name:</div>
	   <div class="hdiv">Full name:  </div>
	   <div class="hdiv">CI:  </div>		
	   <div class="hdiv">Birth place: </div>
	   <div class="hdiv">Birthdate: </div>
	   <div class="hdiv">Nationality: </div>
	   <div class="hdiv">Address:</div>
	   <div class="hdiv">Phone: </div>
	   <div class="hdiv">Email: </div>
	   <div class="hdiv">Elementary_studies: </div>
	   <div class="hdiv">Highschool_studies:</div>
	   <div class="hdiv">College_studies: </div>
	   <div class="hdiv">Postgrade_studies: </div>
	   <div class="hdiv">Experiences(CSV): </div>
	   <div class="hdiv">Skills(CSV): </div>
	   <div class="hdiv">References(CSV): </div>
	   <div class="hdiv">Contacts(CSV):</div>
	   <div class="hdiv">Pic(URL):</div>
	</div>

	<div style="width: 40%; float:left">
	   <input name="post[title_name]" value="Timoteo Ponce"/>
	   <input name="post[full_name]" value="Ponce Timoteo"/>
	   <input name="post[ci]" value="55405887"/>
	   <input name="post[birth_place]" value="Yacuiba"/>
	   <input name="post[birth_date]" value="10-10-1985"/>
	   <input name="post[nationality]" value="Boliviana"/>
	   <input name="post[address]" value="La Madre 5"/>
	   <input name="post[phone]" value="7687580"/>
	   <input name="post[email]" value="timo.slack@gmail.com"/>
	   <input name="post[elementary_studies]" value="Mariano Serrano"/>
	   <input name="post[highschool_studies]" value="German Busch"/>
	   <input name="post[college_studies]" value="Gabriel Rene Moreno"/>
	   <input name="post[postgrade_studies]" value="Gabriel Rene Moreno"/>
	   <input name="post[experiences]" value="Desarrollador+Junior+-+Accarda+AG,Desarrollador Senior+-+Swissbytes,Encargado+de+Proyectos+-screenFOOD"/>
	   <input name="post[skills]" value="Desarrollo+de+software,Ofimatica,Automatizacion,Traduccion"/>
	   <input name="post[references]" value="%3Ca href=%22mailto:marius@lang.vh%22%3EMarius Lang%3C%2Fa%3E,%3Ca href=%22mailto:marius@lang.vh%22%3ERanjan Benz%3C%2Fa%3E"/>
	   <input name="post[contacts]" value="Hugo Ponce, Marcelo Ponce"/>
	   <input name="post[pic]" value="http://www.gravatar.com/avatar/7642ddf54e483e400257de248bef6636.png"/>
	</div>	
	<button type="submit">Generate URL</button>
</form>

