<!-- views/index.erb -->
<h1>All Blog Posts</h1>
<ul>
<% @posts.each do |post| %>
<li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
<% end %>
</ul>
<br />
<a href="/post/new">Create new post</a>