<!-- views/new.erb -->
<h1>Create a new blog post</h1>
<form action="/post/create" method="POST">
<p>Title: <input type="text" name="title"></input></p>
<p>Text: <textarea name="body" rows="10" cols="40"></textarea></p>
<input type="submit" name="Publish" />
</form>