﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PropertyCache.ascx.cs" 
Inherits="RestService1.Web.Controls.PropertyCache" %>
<div><asp:LinkButton ID="lnkRefresh" runat="server"></asp:LinkButton>
&nbsp;|
<asp:LinkButton ID="lnkReset" runat="server"></asp:LinkButton>
</div> 